@media (max-width: 340px){
    .photo img {
        width: 137px;
    }

    .info h2{
        font-size: 40px;
    }
}

@media (max-width: 400px){
    .logo h1{
        font-size: 50px;
        top: 32px;
    }
    #Price {
        padding: 0px;
    }
}